@font-face {
    font-family: 'bold';
    src: url('./OpenSans-Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('./OpenSans-Regular.ttf');
    font-style: normal;
}
@font-face{
    font-family: 'semi-bold';
    src: url('./OpenSans-Semibold.ttf');
    font-style: normal;
}
