header,footer,section,div{
  transition:background 0.5s;
}
.light{
  background:#fff;
  color:#000;
}
.light ul, .light {
  background:rgb(255, 255, 255) !important;
}
.light .banner-bottom .num,.light .banner-bottom .period{
  color:#000;
}
.light .banner-bottom{
  background:rgb(255, 255, 255);
  border-color:#000000;
}
.dark{
  background:#000;
  color:#ffffff;
}

.video-home,.switch .switch-border{
  border-radius:26px !important;
}

.dark ul, .dark {
  background:rgb(0, 0, 0) !important;
}

.dark .banner-bottom .num,.dark .banner-bottom .period{
  color:rgb(255, 255, 255);
}

.dark .banner-bottom{
  background:#000;
  border-color:#ffffff;
}